<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href=""><span class="glyphicon glyphicon-user"></span> About Me</a>
      </li>
      <li>
        <a href="locate"><span class="glyphicon glyphicon-map-marker"></span> Food Locator!</a>
     </li>
  </div>
</nav>
